.social__links {
	--link-size: 3rem;
	--margin: 0 2.2rem 0 0;
	display: flex;
	align-items: center;

	&-link {
		width: var(--link-size);
		height: var(--link-size);
		border-radius: 50%;
		background: #4a4a4a;
		color: $color-white;
		@include flex-center;
		transition: all 0.3s;

		&:not(:last-child) {
			margin: var(--margin);
		}

		i {
			font-size: 55%;
			color: currentColor;
		}
		svg {
			width: 55%;
			height: 55%;
			fill: currentColor;
		}

		&:hover {
			background: $color-secondary;
			color: $color-white;
		}
	}
}
